{% extends 'layout.html' %}
{% block content %}
<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <h1 class="text-center" style="padding-bottom:20px"> Publisher List </h1>
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Founded</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
              {% for publisher in publishers.items %}
                <tr>
                  <th><a href="/publisher/edit/{{publisher.id}}">{{ loop.index + publishers.page*publishers.per_page - publishers.per_page }}</a></th>
                  <td>{{ publisher.name }}</td>
                  <td>{{ publisher.founded }}</td>
                  <td>{{ publisher.location }}</td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'pagination.html' %}
 {% endblock %}